 <div class="jumbotron" id = 'jumbo'>
	    	<div class="container" id = 'why'>
        		<h1>Why we exist</h1>
				<p>Our planet is dependant on sustainable ecosystems and every living being is dependant on the other. For example, take a look at a honeybee- without them, our flowers and trees cannot be pollinated thus inhibiting its ability to produce flowers or fruit. So we essentially get affected, directly or indirectly by the extinction of a species. </p>
				<p>We are here to prevent that from happening. We are here to give nature a chance to flourish so we can experience the true beauty of our planet Earth.</p>
			</div>
		</div>
				
