
<div class="container2">
	
	<div class="col-md-4 col-xs-4">
		
			<a class = "text-center" href="/topic"><img class = "menuImg" src="/images/Robot-icon.png"></img></a>
	</div>
		
	<div class="col-md-4 col-xs-4">
		
			<a class = "text-center" href="/topic"><img class = "menuImg" src="/images/Ninja-icon.png"></img></a>
	</div>
	
	<div class="col-md-4 col-xs-4">
		
			<a class = "text-center" href="/topic"><img class = "menuImg" src="/images/Alien-icon.png"></img></a>
	</div>
	

</div>	

