<div class="container2 text-center">
	<div class = "col-12">
		<h2>The devs...</h2>
	</div>
	<div class="col-md-6 col-xs-12">
			<h4 >Galaxies</h4>
			<a class = "text-center" href="/galaxies"><img class = "menuImg" src="/images/png/solar16.png"></img></a>
			
	</div>
		
	<div class="col-md-6 col-xs-12">
			<h4 >Planets</h4>
			<a class = "text-center" href="/planets"><img class = "menuImg" src="/images/png/planet19.png"></img></a>
			
	</div>
	
	<div class="col-md-6 col-xs-12">
			<h4>Technology</h4>
			<a class = "text-center" href="/tech"><img class = "menuImg" src="/images/png/spaceship2.png"></img></a>
			
	</div>
	
	<div class="col-md-6 col-xs-12">
			<h4>Satellite Images</h4>
			<a class = "text-center" href="/satImg"><img class = "menuImg" src="/images/png/outer.png"></img></a>
			
	</div>	

</div>	