<div class="container2 text-center">
	<div class = "col-12">
		<h2>The devs...</h2>
	</div>
	<div class="col-md-6 col-xs-12">
			
			<a class = "text-center" href="https://github.com/TrevorOctober" target = "blank">Github</a><br>
			<a class = "text-center" href="https://twitter.com/trevor_october" target = "blank">Twitter</a>
			<h4 >Trevor October</h4>
	</div>
		
	<div class="col-md-6 col-xs-12">
			
			<a class = "text-center" href="https://github.com/TarCode" target = "blank">Github</a><br>
			<a class = "text-center" href="https://twitter.com/tarc0de" target = "blank">Twitter</a>
			<h4 >Taariq Isaacs</h4>
	</div>
	
	<div class="col-md-6 col-xs-12">
			
			<a class = "text-center" href="https://github.com/Pinkxa" target = "blank">Github</a><br>
			<a class = "text-center" href="https://twitter.com/linokuhlekamva" target = "blank">Twitter</a>
			<h4>Pretty Notshokovu</h4>
	</div>
	
	<div class="col-md-6 col-xs-12">
			
			<a class = "text-center" href="https://github.com/lindani" target = "blank">Github</a><br>
			<a class = "text-center" href="#">Twitter</a>
			<h4>Lindani Pani</h4>
	</div>	

</div>	