<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class = "arctLogo"></div>
                        <h1 class="brand-heading">NebuLearn</h1>
                        <p class="intro-text">Learn about space.<br>Created by Arcturians.<br> Under construction.</p>
                        <a href="/topic" class="btn btn-circle page-scroll">
                            <i class="fa fa-forward animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>