
<div class="container2 text-center">
	<div class = "col-12">
		<h2>I want to know more about...</h2>
	</div>
	<div class="col-md-6 col-xs-12">
		
			<a class = "text-center" href="/galaxies"><img class = "menuImg" src="/images/png/solar16.png"></img></a>
			<p >Galaxies</p>
	</div>
		
	<div class="col-md-6 col-xs-12">
		
			<a class = "text-center" href="/planets"><img class = "menuImg" src="/images/png/planet19.png"></img></a>
			<p >Planets</p>
	</div>
	
	<div class="col-md-6 col-xs-12">
		
			<a class = "text-center" href="/tech"><img class = "menuImg" src="/images/png/spaceship2.png"></img></a>
			<p>Technology</p>
	</div>
	
	<div class="col-md-6 col-xs-12">
		
			<a class = "text-center" href="/satImg"><img class = "menuImg" src="/images/png/outer.png"></img></a>
			<p>Satellite Images</p>
	</div>	
	<div class="col-md-6 col-xs-12">
		
			<a class = "text-center" href="/sounds"><img class = "menuImg" src="/images/png/sounds.jpeg"></img></a>
			<p class = "text-center">Sounds In Space</p>
	</div>	

</div>	

