			<div class = "container">
				<div class="row">
	  	  	

					<div class="col-6 col-sm-3 with-hover-text">
							<div class = "holder"><a  href="/galaxies"><img title = "invert" class = "menuImg" src="/images/png/solar16.png"></img></a></div>
							<a  href="/news"><span class="font-light text-center">Galaxies</span></a>
					</div>	
					<div class="col-6 col-sm-3 with-hover-text">
							<div class = "holder"><a  href="/planets"><img class = "menuImg" src="/images/png/planet19.png"></img></a></div>
							<a  href="/news"><span class="font-light text-center">Planets</span></a>
					</div>
					<div class="col-6 col-sm-3 with-hover-text">
							<div class = "holder"><a  href="/tech"><img class = "menuImg" src="/images/png/spaceship2.png"></img></a></div>
							<a  href="/news"><span class="font-light text-center">Technology</span></a>
					</div>
					<div class="col-6 col-sm-3 with-hover-text">
							<div class = "holder"><a  href="/satImg"><img class = "menuImg" src="/images/png/outer.png"></img></a></div>
							<a  href="/news"><span class="font-light text-center">Satellite Images</span></a>
					</div>	
				</div>	
		</div>		
