
<div class="container2">
	
	<div class="col-md-6 col-xs-6">
		
			<a class = "text-center" href="/galaxies"><img class = "menuImg" src="/images/png/solar16.png"></img></a>
			<p class = "text-center">Galaxies</p>
	</div>
		
	<div class="col-md-6 col-xs-6">
		
			<a class = "text-center" href="/planets"><img class = "menuImg" src="/images/png/planet19.png"></img></a>
			<p class = "text-center">Planets</p>
	</div>
	
	<div class="col-md-6 col-xs-6">
		
			<a class = "text-center" href="/tech"><img class = "menuImg" src="/images/png/spaceship2.png"></img></a>
			<p class = "text-center">Technology</p>
	</div>
	
	<div class="col-md-6 col-xs-6">
		
			<a class = "text-center" href="/satImg"><img class = "menuImg" src="/images/png/outer.png"></img></a>
			<p class = "text-center">Satellite Images</p>
	</div>	

</div>	

